<div class="container">
  <div class="container text-center" style="margin: 30px">
    <h3>Login</h3>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp"
      required="true" [(ngModel)]="login.username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password"
      required="true" [(ngModel)]="login.password">
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
  </form>
</div>
