<div class="container-fluid ">
  <div  class="row flex-nowrap">

    <div  class="bg-dark col-auto col-lg-2 min-vh-100 d-flex flex-column justify-content-between">
      <div class="bg-dark p-1">
        <app-menu></app-menu>
      </div>
    </div>


    <div class="main1 min-vh-100 col-sm-10">
      <div class="container text-center" style="margin: 30px">
        <h3>Sistema de inventarios</h3>
      </div>

      <h3>{{valor1}}</h3>

      <!-- <table  datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger" class="table table-hover " > -->
        <table class="table table-hover " id="table1">
        <thead class="table-secondary">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Descripción producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Existencias</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <!-- utilizamos interpolacion {{}} -->
            <th scope="row">{{producto.idProducto}}</th>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.existencia}}</td>
            <td class="text-center"><div>
              <button (click)="editarProducto(producto.idProducto)" class="btn btn-warning btn-sm me-3">Editar</button>
              <button (click)="eliminarProducto(producto.idProducto)" class="btn btn-danger btn-sm">Eliminar</button>
            </div></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
              <th colspan="4" style="text-align: left; font-size: 16px">Total:</th>
              <th></th>
          </tr>
      </tfoot>
      </table>

      <div class="container">
        <button class="btn btn-success" (click)="descargarReporte()">Descargar</button>
        <button id="click">click me</button>
      </div>
      <div class="container">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary modal-title mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Agregar Producto
        </button>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Producto</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label for="descripcion" class="form-label">Descripción del producto</label>
                  <input type="text" name="descripcion" class="form-control" id="descripcion" required="true" [(ngModel)]="producto.descripcion">
                </div>
                <div class="mb-3">
                  <label for="precio" class="form-label">Precio</label>
                  <input type="number"  name="precio" step="any" class="form-control" id="precio" [(ngModel)]="producto.precio">
                </div>
                <div class="mb-3">
                  <label for="existencia" class="form-label">Existencia</label>
                  <input type="number" name="existencia" class="form-control" id="existencia" [(ngModel)]="producto.existencia">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Registrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>



</div>



